html,body {background-color: rgb(245,245,245);font-size:14px;position: relative;}
a {color:#0000ff;}

.header {/* top:0; *//* left:0; */width:100%;/* height: 70px; */background-color: #173B8C;}
.header-title {/* margin-left: 40%; */font-size: 1.8em;/* position: absolute; */color:#fcfcfc;line-height: 70px;}

.container {/* left:10%; */width: 100%;position: relative;text-align: center;margin: 0 auto;/* background-color:#fff; */}
.content {height:100%;width: 70%;margin: 0 auto;}

.pure-g>div {padding:15px;box-sizing:border-box;}
.pure-g .pure-table {width:100%;}
.pure-g .pure-table .pure-img {max-width:48px;max-height:48px;}

.con-center h3,
.con-center p {margin:10px;text-align:center;}

.pure-form fieldset {margin:15px 200px;}
.pure-form fieldset legend {margin:15px 0;font-weight:bold;}
.pure-form fieldset .pure-control-group {margin:15px 0;}
.pure-form fieldset input[type="text"],
.pure-form fieldset select {width:200px;}
input.ng-invalid {color:#b94a48;border-color:#e9322d;}
.val-error {font-size:12px;color:#ec0000;}

/* page */

.login-body{background: #153a8b}
.login-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 320px;
    height: 241px;
    max-height: 300px;
}

.login-body .login-box h3 {
    color: #444;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}

.login-box .layui-input[type='number'] {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.login-box img {
    display: inline-block;
    width: 46%;
    height: 38px;
    border: none;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4%;
}

.login-box button.btn-reset {
    width: 95px;
}

.login-box button.btn-submit {
    width: 190px;
}

.login-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 400px;
    width: 350px;
    margin: 0 auto;
    top: 50%;
    height: 100%;
    /* width: 50%; */
    min-height: 768px;
}

.login-input{background: white;position: absolute;top: 40%;width: 100%;height: 50%;border-radius: 10px;}

.login-main header {
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    font-weight: 100;
    color: white;
    text-align: center;
}

.login-main header, .login-main form, .login-main form .layui-input-inline {
    margin-bottom: 15px;
    width: 80%;
    margin: 20px auto;
}

.login-main form .layui-input-inline, .login-main form .layui-input-inline input, .login-main form .layui-input-inline button {
    width: 100%;
}

.login-main form .login-btn {
    margin-bottom: 5px;
}


.layui-input:hover, .layui-textarea:hover {
    border-color: #D2D2D2!important;
}

.layui-input, .layui-select, .layui-textarea {
    height: 38px;
    line-height: 38px;
    line-height: 36px\9;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    margin: 10px 0px;
}

.layui-btn {
    display: inline-block;
    height: 38px;
    line-height: 40px;
    padding: 0 100px;
    background-color: #153a8b;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    margin-top: 10px;
    filter: alpha(opacity=90);
    border-radius: 20px;
}
.width100point {
    /* width: 100%; */
    text-align: center;
}
.login-title{
    position: absolute;
    vertical-align: middle;
    top: 25%;
    text-align: center;
    line-height: 20px;
    width: 100%;
}
/*login page*/


/*dual-core search page*/
.clear{clear:both}
.bgGray{background: #fafafa !important;}
.header .logo{margin-left:30px;margin-top: 17px;float: left;}
.header section{
    background: #173B8C;
    height: 70px;
    border-top: 1px solid #f5f5f5;
}
.header .menu{height:70px;text-align: center;}
.header .login-info{display: inline-block;float: right;margin: 12px 5px 0px 0px;}
.header .login-info .search{}
.header .login-info .img-person{margin: 0px;}
.header .login-info .img-down{margin: 0px 10px 0px 5px;}
.header .login-info label{color:white}
.margin-top20{margin-top:20px;}
.margin-top25{margin-top:25px !important;}
.margin-top50{margin-top:50px !important;}
.padding-bottom10{paddding-bottom:10px;}
.core-container{text-align: -webkit-center;}
.core-search{
    text-align: left;
    text-align: left;
    /* border-color: #ec4a10; */
    border-radius: 5px;
    border-width: 2px;
    box-shadow: none;
    /* background-color: #e06336; */
}
.login-info a{color:white;cursor: pointer;margin-right: 20px;}
.core-main{width: 75%;margin: 0 auto;}
@media screen and (max-device-width: 1280px){
    .core-main{width: 50%;text-align: left;}
}
.core-search-form .input-search{
    display: inline-flex;
    width: 96.5%;
}
.core-search-form  .search{    margin: 15px 0px 0px -30px;
    width: 15px;
    height: 15px;}
.core-search-form  .search{cursor: hand}
.core-search-form  .input-search input{text-indent:4px;}
.core-search-form{/* text-align: left; *//* margin-left: 8px; */margin: 15px 0px 15px 50px;}
.core-search-form-input{line-height: 40px;min-width: 100%;border: 0px;text-align: left;}
.core-search-form-submit{padding: 6px;background: transparent;border: none;color: white;text-decoration: none;}
.core-search-content h3{/* background: #e5eff6; */line-height: 45px;/*border-left: 5px solid #0670b3;*/color: #636363;font-size: 16px;font-weight: bold;text-align: center;margin:0px;padding-top: 10px;}
.core-search-content h2{/* background: #e5eff6; */line-height: 45px;/* border-left: 5px solid #0670b3; */color: #41558d;font-size: 16px;font-weight: bold;text-align: center;padding-top: 10px;margin:0px;}
.core-search-form-submit:hover{color: #0670b3}
.core-search-content{width: 100%;display: inline-flex;}
.core-search-content .core-search-list{/* border:1px solid #e5eff6; */background: white;}
.core-search-content .core-search-main{padding: 20px;color: #333333;/* background: #e5eff6; */min-height: 400px;line-height: 25px;text-align: left;margin-left: 20px;}
.core-search-content .core-search-base{/* min-height: 140px; */display: table;/* background: #e5eff6; *//* border-left: 5px solid #0670b3; */padding: 20px 0px;}
.core-search-content .core-search-base .perImg{display: table-cell;vertical-align: middle;}
.core-search-content .core-search-base .perImg img{/* margin-right:20px; */}
.core-search-content .core-search-base .perInfo{display: contents;}

.core-search-content .risk_high{    background: red;border-radius: 15px;padding: 5px 6px;color: white;}
.core-search-content .risk_low{ background:#69a4e0;border-radius: 15px;padding: 5px 6px;color: white;}
.core-search-content .core-search-main h4{font-size:15px;font-weight: bold;margin:20px;color:#173B8C}
.core-search-content .core-search-main p{margin: 5%;}
.core-search-content .core-search-main img{
    margin-top: 6px;
    float: left;
}
.core-search-content .core-search-main .seriousRisk{
    display:flex;
}

.core-search-content .core-search-main label{margin-left: 5px;font-size: 16px;}
.core-search-content .userAge{line-height:30px;letter-spacing: 2px;color: #4A4A4A;font-weight: bold;}
.core-search-content .userName {font-size:22px;color: #173B8C;}

.alignLeft{ text-align:left; }
.alignRight{/* text-align:right */}
.alignCenter{text-align:center;}
.chartHeight{width: 180px;height:120px;}
.riskWord{ margin: 30px;
    line-height: 30px;}

.seriousType{font-size:12px;color:red}
.seriousType label{font-size:12px !important;}

.seriousTypeGreen{font-size:12px;color:rgb(4,203,65)}

.word-pre{white-space: pre-line; margin-left: 50px;}

/*dual-core search page*/